.CLH {
    text-align: center;
    color: rgb(248, 167, 157);
    padding-top: 70px;
    font-weight: 9000;
}

.IDT {
    width: 300px;
    border-radius: 5px;
    height: 25px;
    outline: auto;
    outline-color: rgb(228, 152, 91);
}

.CID {
    margin-top: 20px;
    margin-left: 490px;
}

 ::placeholder {
    color: black;
}

.BT {
    padding-left: 600px;
    padding-top: 7px;
    margin-bottom: 25px;
}

#show {
    color: black;
    ;
}