.homeimage{
    width:100%;  
   position:absolute;
   object-fit: cover;
   /* margin-left: -8px;
   margin-top: -8px; */
   /* margin-right: -8px; */
   height:100%;
   z-index: -100;
}

#homenav {
    margin-top: 15vh;
    position: absolute;
    background-color: rgba(0,0,0,.5);
    /* height:fit-content; */
    width:fit-content;
    margin-left: -9px;
    
  }
  #homenav li{
     list-style-type: none;  
     /* display: inline-block;  */
      /* padding-left: 30px;
      padding-right:30px;
       padding-bottom:5px ; */
       padding-bottom:20px; ;
       padding-top: 10px;
       margin-left:-25px;
       padding-right: 10px;
  }

#homenav a {
    /* float: left; */
    color:white;
    text-align: left;
    text-decoration: none;
    font-size: 17px;
    font-weight: bolder;
   /* padding-top: 10px;  */
  }
  #homenav a:hover{
      color:gold;
  }

  #title{
      
    position: absolute;
    font-weight: bold;
    font-size: large;
    margin-top: 20px;
    margin-left: 42vw;
   color:white;
    text-decoration: underline white; 
 text-shadow:.5px gold; 
 animation: title 1s  ease-in-out infinite alternate;

   
  }


  @keyframes title {
    from {
      text-shadow: 0 0 30px #FFFAE4;
    }
    
    to {
      color: #e4e3e3;
      text-shadow:  0 0 4px #b1b1b1;
    }
  }

  #formContainer{
    background-color: rgba(0,0,0,.5);
    position:absolute;
    margin-left: 30vw;
    margin-top:10vh;
    width:50%;
    padding-left: 55px;;
    border-radius: 10px;
    margin-top:90px;
  }



  #btnStyle{
    background-color: white;
  float:center;
  width:120px;
  font-weight: bold;
  font-size: large;
  border:none;
  outline:none;
  }

  
#btnStyle:hover{
  color:#0468b9;
  box-shadow:0 0 2px 2px #9ecaed; 
}

#btnStyle:active{
  color:#0468b9;
  /* outline:1.5px solid #032038; */
  /* color:white; */
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
  /* box-shadow: 3px 2px 5px 4px #0ff; */
  box-shadow:0 0 5px 5px #d3e9fa; 
  /* 0 0 100px 60px #f0f,
  0 0 140px 90px #0ff */
  outline:none;

}
#label{
  color:white;
  font-weight: bolder;
  font-size: larger;
}
  #uname{
    width:250px;
  }
.form-row{
  margin-top: 20px;
  /* padding-top:50px; */
}